*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}


body{

    background:#0008ff;

    color:rgb(0, 0, 250);

    font-family:Arial, Helvetica, sans-serif;

    text-align:center;

}


/* =========================
   SISTEMA DE ESCENAS
========================= */


.scene{

    min-height:100vh;

}


.hidden{

    display:none !important;

}





/* =========================
   SELECCION
========================= */


#selectionScene{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:40px;

}



#characterSelector{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:60px;

}



#selectedCharacter{

    width:300px;

    background:#ffffff;

    padding:30px;

    border-radius:15px;

    box-shadow:0 0 25px rgb(34, 4, 229);

}



#characterImage{

    width:180px;

    height:180px;

    object-fit:contain;

}



#characterStats{

    margin-top:20px;

    line-height:1.8;

}



#previousCharacter,
#nextCharacter{

    font-size:40px;

    width:70px;

    height:70px;

    border-radius:50%;

}





/* =========================
   COMBATE
========================= */


#gameScene{

    padding-top:20px;

}



#battlefield{

    display:flex;

    justify-content:space-around;

    align-items:center;

    margin-top:40px;

}



.card{

    background:#f8f8fc;

    width:320px;

    padding:25px;

    border-radius:15px;

    box-shadow:0 0 25px rgb(253, 253, 253);

}



.characterImage{

    width:200px;

    height:200px;

    object-fit:contain;

    margin:20px;

}






/* =========================
   VIDA
========================= */


.barBackground{

    width:100%;

    height:25px;

    background:#555;

    border-radius:20px;

    overflow:hidden;

}



.hpBar{

    height:100%;

    width:100%;

    background:#35d04b;

    transition:.3s;

}







/* =========================
   STATS
========================= */


.stats{

    margin-top:20px;

    line-height:1.7;

}








/* =========================
   LOG
========================= */


#combatLog{

    width:700px;

    max-width:90%;

    min-height:200px;

    margin:40px auto;

    background:#fcfcfc;

    border-radius:15px;

    padding:20px;

    text-align:left;

}



#logText{

    margin-top:15px;

    min-height:150px;

    line-height:1.8;

}








/* =========================
   BOTONES
========================= */


#actions{

    display:grid;

    grid-template-columns:repeat(2,220px);

    justify-content:center;

    gap:20px;

}



button{

    padding:15px 25px;

    font-size:18px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    transition:.2s;

}



button:hover{

    transform:scale(1.08);

}



button:active{

    transform:scale(.95);

}




#btnAttack{

    background:#f5f4f7;

    color:rgb(0, 16, 246);

}



#btnSkill{

    background:#f0f0f3;

    color:rgb(11, 3, 245);

}



#btnPotion{

    background:#f1f1f4;

    color:rgb(5, 13, 239);

}



#btnDefend{

    background:#fbfbfc;

    color:rgb(23, 2, 244);

}



#btnRestart{

    margin-top:30px;

    background:#fafafa;

}








/* =========================
   COLORES DEL REGISTRO
========================= */


.damage{

    color:#1e06f6;

}


.heal{

    color:#0039f5;

}


.critical{

    color:#003bed;

}


.defense{

    color:#55aaff;

}


.skill{

    color:#1602f1;

}


.warning{

    color:#1100f6;

}


.success{

    color:#1900ff;

}








/* =========================
   DERROTA
========================= */


#defeatScene{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:30px;

}



#defeatScene h1{

    font-size:60px;

    color:#ff4444;

}



#retryButton{

    background:#27ae60;

    color:white;

    font-size:25px;

    padding:20px 50px;

}








/* =========================
   RESPONSIVE
========================= */


@media(max-width:800px){


    #battlefield{

        flex-direction:column;

        gap:30px;

    }



    #characterSelector{

        gap:20px;

    }



    #actions{

        grid-template-columns:1fr;

    }


}